body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #183351 50%, #bcbec4 50%);
  height: 100vh;
  font-family: Arial;
  overflow: hidden;
}
.container1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: rgb(197, 197, 197);
  font-size: 45px;
  margin-bottom: -40px;
  margin-top: 20px;
}
.container2 {
  display: flex;
  justify-content: center;
}
.at {
  color: rgb(197, 197, 197);
  font-size: 45px;
  margin-right: 10px;
}
.phone {
  width: 40px;
  height: 40px;
  margin-top: 50px;
}
.number {
  color: red;
  font-family: "Helvetica";
  font-size: 45px;
  margin-left: 10px;
}
.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}
.container4 {
  display: flex;
  flex-direction: column;
}
.img1 {
  display: flex;
  background-size: cover;
  width: 428px;
  height: 450px;
  margin-bottom: 10px;
  background-image: url("images/bnbn.jpg");
}
.dark1 {
  width: 428px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text1 {
  margin-top: 50%;
  margin-left: 22%;
  font-size: 40px;
  color: white;
  z-index: 2;
}
.container5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.img2 {
  width: 209px;
  height: 170px;
  margin-right: 10px;
  display: flex;
  background-size: cover;
  background-image: url("images/tt.jpg");
}
.dark2 {
  width: 209px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text2 {
  margin-top: 30%;
  margin-left: 26%;
  font-size: 40px;
  color: white;
  z-index: 2;
}
.img3 {
  width: 209px;
  height: 170px;
  display: flex;
  background-size: cover;
  background-image: url("images/jhjhjh.jpg");
}
.dark3 {
  width: 209px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text3 {
  margin-top: 30%;
  margin-left: 26%;
  font-size: 40px;
  color: white;
  z-index: 2;
}
.container6 {
  display: flex;
  flex-direction: column;
}
.container7 {
  display: flex;
  flex-direction: row;
}
.img4 {
  width: 211px;
  height: 170px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  background-size: cover;
  background-image: url("images/jkkjjk.jpg");
}
.dark4 {
  width: 211px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text4 {
  margin-top: 30%;
  margin-left: 22%;
  font-size: 40px;
  color: white;
  z-index: 2;
}
.img5 {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 206px;
  height: 170px;
  display: flex;
  background-size: cover;
  background-image: url("images/rtrt.jpg");
}
.dark5 {
  width: 206px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text5 {
  margin-top: 30%;
  margin-left: 17%;
  font-size: 40px;
  color: white;
  z-index: 2;
}
.container8 {
  display: flex;
}
.img6 {
  width: 428px;
  height: 447px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  background-size: cover;
  background-image: url("images/nbn.jpg");
}
.dark6 {
  width: 428px;
  height: 447px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text6 {
  margin-top: 50%;
  margin-left: 28%;
  font-size: 40px;
  color: white;
  z-index: 2;
}
.container9 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: rgb(24, 24, 24);
  font-style: italic;
}
