body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.container1 {
  display: flex;
  margin-left: 400px;
  margin-top: 355px;
}
.border1 {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 280px;
  background-color: rgb(230, 230, 230);
  border-radius: 40px;
}
.topic1 {
  margin-left: 60%;
  margin-bottom: 10px;
}
.text1 {
  text-align: right;
  color: gray;
  line-height: 1.2;
  margin-right: 6%;
  font-size: 17px;
}
.button1 {
  width: 150px;
  height: 40px;
  background-color: rgb(2, 224, 43);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-left: 60%;
  margin-top: 40px;
}
.container2 {
  display: flex;
  flex-direction: column;
}
.photo1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 100px;
}
.photo2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 80px;
}
.photo3 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 80px;
}
.container3 {
  display: flex;
  flex-direction: column;
}
.border2 {
  width: 430px;
  height: 280px;
  background-color: rgb(230, 230, 230);
  margin-top: 60px;
  border-radius: 40px;
}
.topic2_3 {
  margin-left: 6%;
  margin-bottom: 10px;
}
.text2_3 {
  color: gray;
  line-height: 1.2;
  margin-left: 6%;
  font-size: 17px;
  margin-top: 30px;
}
.button2_3 {
  width: 150px;
  height: 40px;
  background-color: rgb(2, 224, 43);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-left: 6%;
  margin-top: 40px;
}
.border3 {
  width: 430px;
  height: 280px;
  background-color: rgb(230, 230, 230);
  margin-top: 270px;
  border-radius: 40px;
}
