.photo1{
    position: absolute;  
    top: 90px;
    left: 690px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.photo2{
    position: absolute;  
    top: 300px;
    left: 690px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.photo3{
    position: absolute;  
    top: 500px;
    left: 690px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.board1{
    width: 400px;
    height: 250px;
    background-color: rgb(230, 230, 230);
    position:absolute;
    top: 30px;
    left: 870px;
    border-radius: 40px;
}
.text1{
    font-family: Arial;
    position: absolute;
    left: 900px;
    top: 50px;
}
.discription1{
    font-family: Arial;
    position: absolute;
    left: 900px;
    top: 100px;
    color: gray;
    line-height: 1.2;

}
.button1{
    width: 150px;
    height: 40px;
    background-color: rgb(2, 224, 43);
    position:absolute;
    top: 210px;
    left: 900px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}
.board2{
    width: 400px;
    height: 250px;
    background-color: rgb(230, 230, 230);
    position:absolute;
    top: 250px;
    left: 255px;
    border-radius: 40px;
}
.text2{
    font-family: Arial;
    position: absolute;
    left: 480px;
    top: 250px;
}
.discription2{
    font-family: Arial;
    position: absolute;
    left: 325px;
    top: 310px;
    color: gray;
    line-height: 1.2;
    text-align: right;

}
.button2{
    width: 150px;
    height: 40px;
    background-color: rgb(2, 224, 43);
    position:absolute;
    top: 420px;
    left: 480px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}
.board3{
    width: 400px;
    height: 250px;
    background-color: rgb(230, 230, 230);
    position:absolute;
    top: 460px;
    left: 880px;
    border-radius: 40px;
}
.text3{
    font-family: Arial;
    position: absolute;
    left: 900px;
    top: 470px;
}
.discription3{
    font-family: Arial;
    position: absolute;
    left: 900px;
    top: 520px;
    color: gray;
    line-height: 1.2;
    

}
.button3{
    width: 150px;
    height: 40px;
    background-color: rgb(2, 224, 43);
    position:absolute;
    top: 635px;
    left: 900px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}
